body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 0px solid green;
    margin-left: 20px;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
}
.logo-content-img{
    border: 0px solid #42515f;
}

.emp-text{
    font:normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}
.emp-payroll{
    color: #42515f;
}
*{
    box-sizing: border-box;
}

.form-content{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.profie-radio-content{
    display: flex;
    flex-direction: row;
}

.profile-radio-content > label{
    /* display: flex; */
    flex-direction: row;
    align-items: center;
}

.profile{
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}